.main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 74px;
  height: 74px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
