.App {
  display: flex;
  flex-wrap: wrap;
}

.App-round {
  margin: 10px;
  width: 74px;
  height: 74px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-bg {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.App-icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-loading {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
